/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.wrapper {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    align-items: center;
}

.main-container {
    height: 85vh;
    grid-column: 6 / span 9;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.side-panel {
    background: lightgray;
    height: 100vh;
    grid-column: 3 / span 3;
    text-align: center;
}

.nav-bar {
    width: 100%;
    text-align: center;
}
/* ul.nav {
    height: 40px; */
    /* margin-bottom: 0px; */
    /* padding-bottom: 5px;
} */

ul.nav li {
    line-height: 40px;
    width: 90%;
    display: inline-block;
    margin: 3px;
    background-color: black;
}

ul.nav li:hover {
    background-color: white;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
}

div.trans-container{
    max-height: 80vh;
    overflow: scroll;
}

div.trans-button, div.edit-info-btn , div.map-btn{
    display: inline-block;
    background-color: lightgray;
    width: 300px;
    height: 30px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

div.map-btn {
    width: 30%;
}

.trans-form, div.user-form {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
    padding: 20px;
}

div.transaction {
    display: inline-block;
    width: 80%;
    border-bottom: 1px solid black;
}

div.transaction > div {
    display: inline-block;
    height: 50px;
}

div.date {
    width: 30%;
    text-align: left;
}

div.name {
    width: 40%;
    text-align: left;
}

div.amount {
    width: 30%;
    text-align: right;
}

form > h3 {
    text-align: right;
    margin-bottom: 0px;
}


